html, body {
  width: 100%;
  height: 100%;
}

custom-table {
  font-family: "Iosevka", sans-serif;
}

div {
  margin-top: 1rem;
}

div .paginated-button {
  border: none;
  background-color: skyblue;
  border-radius: 50%;
  padding: 0.25rem;
  margin-right: 0.25rem;
  width: 2rem;
  cursor: pointer;
  font-weight: bold;
  color: color: #373131;
}

div button {
  border: none;
  background: transparent;
}

table {
  font-size: 0.9rem;
}

table tr td, table tr th {
  text-align: left;
  border: 1px solid gray;
} 

tr:hover {background-color: #f5f5f5;}
